.container {
    color: white;
    margin: 0 50px;
}


.control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

p {
    width: 2em;
}